* {
  box-sizing: border-box;
}

html, body {
  background: #F7F7F7;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.guess {
  line-height: 1;
  height: 1em;
  margin: 0.5em 0;
}

.selected {
  background-color: red;
  color: white;
  cursor: default;
}

.foundWords {
  list-style-type: none;
  font-size: 24px;
}
