/**
 * Universal box-sizing with inheritance.
 * See https://css-tricks.com/box-sizing/#article-header-id-6
 */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  background: #F0F0F0;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.guess {
  line-height: 1;
  height: 1em;
  margin: 0.5em 0;
}

.selected {
  background-color: red;
  color: white;
  cursor: default;
}

.foundWords {
  list-style-type: none;
  font-size: 24px;
}
